body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameCanvas {
    width: 600px;
    height: 800px;
}